<div class="navbar navbar-default navbar-fixed-bottom">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<div class="navbar-text">
					<a href="https://github.com/colingagnon/weakgame">WeakGame</a>: v<app-version></app-version>
				</div>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<div class="navbar-text pull-right">
					<a href="https://github.com/colingagnon/">Colin Gagnon</a>
				</div>
			</div>
		</div>
	</div>
</div>