<div class="container-fluid">
    <div class="row">
	    <div class="col-xs-6">
	    	<h2 class="text-right">You leveled up!</h2>
	    </div>
	    <div class="col-xs-6">
			<div class="text-center" style="padding-top:10px;">
				<a href="/game" type="submit" class="btn btn-success btn-lg" data-ng-click="">Return to game</a>
			</div>
	    </div>
	</div>
	<div class="row">
	    <div class="col-xs-12">
	    	<div class="img-responsive-container">
				<img src="/images/level.png" class="img-responsive" style="margin:0 auto;padding-top:20px;">
			</div>
	    </div>
	    <div class="col-xs-12">
	    	<h4 class="text-center">You are stronger, faster, and more tough. Good job.</h4>
	    </div>
	</div>
</div>
